<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite /public/dir to /public/public/dir" stopProcessing="true">
          <match url="^public.*" ignoreCase="true" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}public\{R:0}" matchType="IsDirectory" />
          </conditions>
          <action type="Rewrite" url="public/{R:0}/" />
        </rule>
        <rule name="Rewrite /public/* to /public/public/*" stopProcessing="true">
          <match url="^public.*" ignoreCase="true" />
          <action type="Rewrite" url="public/{R:0}" />
        </rule>
        <rule name="Rewrite files to /public" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}public\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        <rule name="Rewrite dirs to /public" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}public\{R:1}" matchType="IsDirectory" />
            <add input="{R:1}" matchType="Pattern" pattern="" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        <rule name="Rewrite non-public files to /public" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        <rule name="Rewrite non-public dirs to /public" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}{R:1}" matchType="IsDirectory" />
            <!-- Uncomment the following line to enable managed handlers to match the site root.
                 Note this will disable default document matching requests to the site root also. -->
            <!--<add input="{R:1}" matchType="Pattern" pattern="" negate="true" />-->
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>